/* NAVBAR1 */

#nav-one {
	background-color: #000000;
}

#domain-name {
	font-family: 'Permanent Marker', cursive;
	letter-spacing: 5px;
	font-size: 2rem;
	color: #FFFFFF;
}

#domain-name:hover {
	color: #AF7817;
}

#nav-logo {
	width: 5%;
	border-radius: 50%;
}

#nav-logo:hover {
	color: #AF7817;
}

#navbarSupportedContent {
	position: absolute;
	right: 10px;
}

/*#exampleInputEmail1 {
	position: relative;
	top: 50%;
}
*/

#home :hover {
	background-color: #AF7817;
}

#home :active {
	background-color: #AF7817;
}

#theresto:hover {
	background-color: #AF7817;
}

#about:hover {
	background-color: #AF7817;
}

#contact:hover {
	background-color: #AF7817;
}
/* Pop */

#nav-close {
	background-color: #D1D0CE;
}

#discount {
	font-family: 'Jomolhari', serif;
	color: #800000;
	font-size: 2rem;
}

/* NAVBAR2 */

#nav-link2 {
	background-color: #C58917;

}

#nav-menu {
	color: #000000;
	font-family: 'Raleway', sans-serif;
}

#nav-menu:hover {
	background-color: #D1D0CE;
}

/* BODY */

#card-img {
	position: relative;
}

#bestseller {
	position: absolute;
	top: 82%;
	left: 75%;
}

#card-menu {
	border-color: black;
	line-height: 1rem;
	font-family: 'Raleway', sans-serif;
}

#card-menu:hover {
	background-color: #D1D0CE;
}

#row-menu {
	font-family: 'Raleway', sans-serif;
}

#row-menu > #book {
	background-color: #E8A317;
}

.jumbotron {
	font-family: 'Raleway', sans-serif;
	font-weight: bolder;
	color: black;
}

#front-img {
	background-image: url(./assets/img/landing.jpeg);
	font-family: 'Raleway', sans-serif;
	position: absolute;
	top: 30%;
}

#front-img > h5 {
	font-size: 2rem;
}

#lg-img {
	opacity: 0.3;
	max-height: 50%;
	position: relative;
}

#learn-more {
	background-color: #E8A317;
}

#order-now {
	color: #000000;
	background: linear-gradient(to bottom, #FDD017, #AF7817);
}

/* The Restaurant */

#place > span > img {
	width: 31.16%;
}

#place > h1 {
	font-family: 'Raleway', sans-serif;
}

/* About Us */

#about-us {
	font-family: 'Raleway', sans-serif;
}
/* Contact us */

iframe {
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

#card-footer {
	font-family: 'Raleway', sans-serif;
}

#facebook, #googlep, #instagram {
	color: #D1D0CE;
}

#facebook:hover, #googlep:hover, #instagram:hover {
	color: #000000;
}

.google-maps { position: relative; overflow: hidden; } .google-maps .iframe { position: absolute; top: 0; left: 0; width: 100% !important; height: 100% !important; border: 0; } 


/*# sourceMappingURL=style.css.map 